<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('header.ejs')%>

    <form action="/board/updateProc" method="post">
        <ul>
            <li>제목 : <input type="text" name="title" value="<%= board[0].title %>"></li>
            <li>내용 <br>
                <textarea name="content" cols="50" rows="10"><%= board[0].content %></textarea>
            </li>
            <input type="hidden" name="board_id" value="<%= board[0].board_id%>">
            <button>작성</button>
        </ul>  
    </form> 
    
</body>
</html>